*{
    box-sizing: border-box;
    font-family: 'Volkhov', serif;
    margin:0;
    scroll-behavior: smooth;
}
.header{
    background-size: cover;
    background-image: url(https://wp.w3layouts.com/farmstead/wp-content/themes/farmstead/assets/images/inner-banner.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 260px;
    margin-bottom: 100px;
}
.container{
    margin: 0 50px 50px 50px;
}
.header .container .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    padding-top:28px;
}
.header .navbar .logo a{
    text-decoration: none;
    color:#fb811e;
    position: relative;
}
.header .navbar .logo a:hover {
    color: #000000;
}
.header .navbar .logo span{
    font-size:30px;
    font-weight: 400;
}
.header .navbar .fa-leaf{
    position:absolute;
    font-size:18px;
    left:50px;
}
.header .navbar .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .navbar .nav i{
    cursor: pointer;
    margin-left:15px;
}
.header .navbar .fa-magnifying-glass{
    background-color:#FFFFFF;
    width:35px;
    height:35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-size:17px
}
.header .navbar .fa-moon,
.header .navbar .fa-bars{
    background:none;
    font-size:25px
}

.dropdown{
    position: relative;
}
.bar-menu{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.bar-menu:hover{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
 
#dropdown-child{
    display: none;
    background-color: #ffffff;
    position: absolute;
    right: 0px;
    top: 50px;
    width: 200px;
    border-radius: 5px;
    height: 282px;
}
#dropdown-child a{
    color: #000000;
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    display: block;
    text-align: center;
    height: 47px;
}
.carousel{
    background-size: cover;
    background-image: url(./images/bg1.png);
    background-position: center center;
    height: 238px;
    width:57%;
    background-repeat: no-repeat;
    position: relative;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: end;
  }
  .carousel .navbar{
      margin-right:40px;
      margin-top: 20px;
  }
  .header .container .quick-home{
      position: absolute;
      margin-top:110px;
  }
  .header .container .quick-home h2{
    font-size:23px;
    margin-bottom:5px;
  }
  .header .container .quick-home a{
      color:#707070;
      font-size: 14px;
      font-weight: 600;
      text-decoration: none;
  }
.product{
    margin-bottom:100px;
}
.product .container .blog{
    padding: 10px 15px 30px 15px;
    margin-bottom:50px;
}
.product .container .main{
    float: left;
    width: 70%;
    margin-right:10px
}
.product .container .menu{
    float: left;
    width: 27%;
}
.product .main .blog{
    border: 1px hidden #707070;
    box-shadow: #707070;
    box-shadow: 0px 0px 10px 5px #e0e0e0;
    border-radius: 5px;
}
.product .main .blog .content{
    text-align: left;
}

.product .main .blog img{
    width:100%;
    height:450px;
    border-radius: 5px;
    display: block;
    margin-bottom:50px;

}
.product .blog .content span{
    font-size:13px;
    color:#71737b;
}
.product .blog .content .byw3{
    font-size:13px;
    color:#fc9d39;
    text-decoration: none;

}
.product .blog .content h1 a{
    text-decoration: none;
    color:#000000;
    font-size:25px;
    display: block;
    margin-top:15px;
    margin-bottom:25px;

}
.product .blog button{
    width: 140px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 25px;
    background-color: #fb811e;
    color: #FFFFFF;
}
.product .pagination .page-item{
   margin-right: 10px;
}
.product .pagination .page-link{
    text-decoration: none;
    color: #000000;
    width:40px;
    height:40px;
    border-radius: 50%;
    border: transparent;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product .pagination .page-link:hover{
    text-decoration: none;
    color: #000000;
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color: #009f4d;
    cursor: pointer;
}
.product .pagination .page-button{
    text-decoration: none;
    color: #000000;
    width:80px;
    height:40px;
    line-height: 40px;
    border: transparent;
    text-align:center;
    border-radius: 50%;
}
.product .pagination .page-button:hover{
    text-decoration: none;
    color: #000000;
    width: 80px;
    height: 40px;
    background-color: #009f4d;
    border-radius: 50%;
    text-align:center;
    line-height: 40px;
    cursor: pointer;
}
.product .menu{
    padding:0 50px;
}

.product .menu .group-1 a{
    display: block;
    text-decoration: none;
    margin-top: 20px;
    color:#000000;
    font-size:16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #EEEEEE;
}
.product .menu .group-1 a:hover, .product .menu .group-3 a:hover {
    display: block;
    text-decoration: none;
    margin-top: 20px;
    color:#fb811e;
    font-size:16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #EEEEEE;
}
.product .menu .group-2 p{
    margin-top: 20px;
}
.product .menu .group-2 a{
    text-decoration: none;
    color: #fb811e;
    font-size:16px;
}
.product .menu .group-2 a:hover{
    color: #fb811e;
    font-size:16px;
}
.product .menu .group-3 a{
    display: block;
    text-decoration: none;
    margin-top: 20px;
    color:#000000;
    font-size:16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #EEEEEE;
}
.product .container .menu h2{
    margin-top:40px;
    margin-bottom:10px;
    font-size: 20px;
    font-weight: 600;
}
.product .container .menu input{
    height:50px;
    width:130px;
    padding:10px;
    font-size:16px;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
}
.product .container .menu button{
    height:48px;
    width:65px;
    padding:5px;
    font-size:16px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #fb811e;
    color:#f4f4f4;
    cursor: pointer;
}
.clear{
    clear:both;
}

/* .header{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;
  } */
.footer{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 0 50px 80px;
}
.footer h3{
    margin-bottom:20px;
}
.footer-part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 200px;
    width:30%;
    margin-right:50px;

}
.footer-part .text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 170px;
    color: #707070;
}
.footer-part .text a{
    text-decoration: none;
    color: #707070;
}
.footer-part .text a:hover{
   text-decoration: none;
    color: #fb811e;
}
.footer-part .copyright a{
    text-decoration: none;
    color: #009f4d;
}
.footer-part .copyright a:hover{
    text-decoration: none;
    color: #fb811e
}
.footer .logo a{
    text-decoration: none;
    color:#fb811e;
    position: relative;
}
.footer .logo a:hover {
    color: #000000;
}
.footer .logo span{
    font-size:30px;
    font-weight: 400;
}
.footer .logo .fa-leaf{
    position:absolute;
    font-size:18px;
    left:50px;
}
.footer .footer-part input{
    height:50px;
    width:250px;
    padding:10px;
    font-size:17px;
    border: 1px solid #f2f2f2;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #f4f4f4;
}
.footer .footer-part button{
    height:48px;
    width:80px;
    font-size:15px;
    border: 1px solid transparent;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #009f4d;
    cursor: pointer;
}
.footer .footer-part button:hover{
    height:48px;
    width:80px;
    font-size:15px;
    border: 1px solid transparent;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #009f4d;
    opacity: 0.9;
}
.footer .footer-part .contact a{
    text-align: center;
    text-decoration: none;

}

.footer .footer-part .contact i{
    background-color: #ecfaf2;
    width:30px;
    height:30px;
    line-height: 30px;
    color: #009f4d;
    border-radius: 50%;
    margin-right: 5px;
}
.footer .footer-part .contact i:hover{
    background-color: #f1d2b8;
    width:30px;
    height:30px;
    line-height: 30px;
    color: #fb811e;
    border-radius: 50%;
    margin-right: 5px;
}
.navigation .nav-upper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:100px;
    height:350px;
    background-color: #0D1326;
    position:fixed;
    right:0;
    bottom:100px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.navigation .nav-below{
    position:fixed;
    right:15px;
    bottom:50px;
    border-radius: 15px;
    border-top-left-radius: 15px;
    text-align: center;
}
.navigation .nav-below i{
    color: #ffffff;
    background-color: #009f4d;
    width: 35px;
    height: 35px;
    border-radius: 10%;
    line-height: 35px;
}
.navigation a{
    text-decoration: none;
    margin-bottom:20px;
    text-align: center;
    color:#b7b9c3;
    opacity: 0.6;
    background-color: #0D1326;
    font-size:15px;
}
.navigation a:hover{
    text-decoration: none;
    margin-bottom:20px;
    text-align: center;
    color:#ffffff;
    background-color: #0D1326;
    font-size:15px;
}
.navigation a i{
    background-color: #0D1326;
    margin-bottom: 5px;
}
.navigation .fa-angles-right{
    line-height: 87.5px;
    border-bottom: 0.5px solid #e6ebff;
    width: 90px;
}

/* reponsive */
@media screen and (max-width: 800px){
    /* giữ nguyên */
    }
    @media screen and (max-width: 640px){
    /* giữ nguyên */
    } 
    @media screen and (max-width: 480px){
        
        .header{
            background-size: cover;
            background-image: url(https://wp.w3layouts.com/farmstead/wp-content/themes/farmstead/assets/images/inner-banner.png);
            background-repeat: no-repeat;
            background-position: center center;
            height: 140px;
            margin-bottom: 100px;
        }
        .container{
            margin: 0;
        }
        .header .navbar .logo{
            display: none;
        }
        .header .container .navbar{
            display: flex;
            justify-content: end;
            align-items: center;
        }
        .header .container .quick-home h2{
            font-size:20px;
            margin-bottom:5px;
          }
        .product .container{
            margin: 30px 0px;
            margin-bottom:50px;
        }
        .product .container .main{
            width: 100%;
            margin-bottom: 50px;
        }
        .product .main .blog img{
            height: 200px;
        }
        .product .container .menu{
            width: 100%;
        }
        .search-form{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .product .container .menu input{
            height:50px;
            width:350px;
            padding:10px;
            font-size:16px;
            border: 1px solid #f2f2f2;
            border-radius: 5px;
        }
        .product .container .menu button{
            height:48px;
            width:65px;
            padding:5px;
            font-size:16px;
            border: 1px solid transparent;
            border-radius: 5px;
            background-color: #fb811e;
            color:#f4f4f4;
            cursor: pointer;
        }
        .product .menu{
            padding:0 0;
        }
        .footer{
            display: block;
            padding: 0 0 50px 15px;
            margin-top: 120px;
        }
        .footer-part{
            display:block;
            height: 200px;
            width:100%;
            margin-bottom: 60px;
        
        }
    }